body {
    background-color: #D2D2D2;
    font: 14px Verdana;
}

#wrapper {
    width: 1200px;
    margin: 30px auto;
    background-color: #FFFAFA;
}

#header {
    height: 100px;
    background-color: #8B0000;
    color: #DCDCDC;
}

#header h1 {
    padding: 20px 20px 0;
}

#main {
    padding: 10px 20px;
    height: 670px;
    text-align: justify;
}

#main p {
    line-height: 1.5;
}

#functional {
}

#recorder {
    background-color: #FFDAB9;
    border: 1px solid #000000;
    padding: 7px 7px;
    width: 225px;
    float: left;
    border-radius: 4px;
}

#recorder h3 {
    font-size: 14px;
    margin: 5px 0 10px 0;
}

canvas {
    border: 1px solid #808080;
    background-color: #FFFFFF;
    border-radius: 5px;
}

#buttons {
    margin: 10px 5px 5px 10px;
    display: inline-block;
}

#buttons button {
    margin-right: 5px;
    width: 60px;
    height: 25px;
    vertical-align: middle;
}

#record span {
    background-color: red;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: auto auto;
}

#stop span {
    background-color: #808080;
    display: inline-block;
    width: 18px;
    height: 14px;
    margin: auto auto;
}

#play {
    position: relative;
}

#play span {
    border: 8px solid transparent;
    border-left: 16px solid #808080;
    position: absolute;
    left: 23px;
    top: 2px;
}

#formData {
    border: 1px solid #000000;
    width: 900px;
    height: 510px;
    float: right;
    border-radius: 5px;
}

#formData h2 {
    padding-left: 12px;
}

.content {
    padding: 0 12px;
}

form hr {
    margin-top: 20px;

}

form h3 {
    margin-top: 5px;
}

form textarea {
    width: 870px;
    height: 100px;
    resize: none;
    font-size: 20px;
    color: green;
}

#send {
    width: 80px;
    height: 30px;
}

#footer {
    padding: 0 20px 1px 20px;
    border-top: 1px solid #000000;
    text-align: right;
}

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader.animate {
    display: flex;
}

nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    padding: 0 0 0 10px;
}

nav li {
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid #DCDCDC;
}

nav a {
    color: #DCDCDC;
    text-decoration: none;
}

